PORT=3010

PRICING_API_KEY=

BACKEND_INTERNAL_URL=http://127.0.0.1:3001
INTERNAL_PRICE_BACKFILL_SECRET=

REDIS_HOST=localhost
REDIS_PORT=6379

PRICING_DB_HOST=localhost
PRICING_DB_PORT=5432
PRICING_DB_NAME=pricing_cache
PRICING_DB_USER=postgres
PRICING_DB_PASSWORD=postgres

DATABASE_URL=

SKIP_PRISMA_MIGRATE=0

X_API_KEY=
